<h2>Here's Your Pokemon Stats</h2>
<h2><a href="/pokemons">Back to Pokedex</a></h2>
  <p>Pokemon's Name: <%= @pokemon.name %></p>
  <p>Pokemon's CP: <%= @pokemon.cp %></p>
  <p>Pokemon's Type: <%= @pokemon.poke_type %></p>
  <p>Pokemon's Picture:</p>
  <img src ="<%= @pokemon.img_url %>">
